<main id='home'>
  <div class='bg-home'></div>
  <div class='home-container'>
    <h1 class='lg-heading home__heading'>ANMARY <span class='text-secondary'>GAIN</span></h1>
    <h2 class='sm-heading home__title'>
      Student,Health Informatics,Centennial College.
    </h2>
    <a href='https://github.com/anmarygain' class='icon-fa' target='_blank'>
      <i class='fab fa-github fa-2x'></i>
    </a>
    <a href='https://linkedin.com/in/anmaryGain-758051a5' class='icon-fa' target='_blank'>
      <i class='fab fa-linkedin fa-2x'></i>
    </a>
</main>
