<main id='about'>
  <div class='bg-about'></div>
  <div class='about-container'>
    <h1 class='lg-heading about-heading'>My <span class='text-secondary'>Bio</span></h1>
    <h2 class='sm-heading about__title'>
    	In my free time I love to play games,read books and do cooking.
    </h2>
    <hr />
    <p class='about__p'>
      I love listening to music ,gardening and cooking.
      </p>
      <p class='about__p'>
		  The technology I'm interested to work with in <b>web development</b> are NodeJS, Python, and JavaScript.
      </p>
      <!--
      <p class='about__p'>
        In my free time, I became a private tutor for elementary school children, and riding road-bike in Jakarta.
      </p>
	  -->
      <p class='about__p'>
        <a href='annmarykgain@gmail.com'>
          <i class='fas fa-envelope-open-text fa-2x icon-fa'></i> Shoot me an email at <span>agung.tuanany@gmail.com</span>
        <a/>
      </p>
  </div>
</main>
